{% load static %}
<header class="header">
  <div class="container vh-50">
  	<nav class="row text-white justify-content-between  align-items-center text-uppercase pt-4">
  		<a href="" class="col-auto img-logo">
  			<img src="{% static 'img/logoweb.jpg' %}" >
  		</a>
  		<div class="col-auto">
  			<a href="" class="text-reset pr-3">Inicio</a>
  			<a href="#contactos" class="text-reset pr-3">Contactos</a>
  			<a href="" class="text-reset pr-3">Recursos</a>
  			<a href="" class="text-reset pr-3">Carreras</a>
  			<a href="" class="text-reset ">Biblioteca</a>
  		</div>
  	</nav>

  	<div class="row  h-100 align-items-center">
  		<div class="col-md-10 col-lg-6 text-white ">
  			<h1>EXAMEN DE ADMISIÓN 2021</h1>
  			<h2>18 DE ABRIL</h2>
        <p >Haga click en requisitos antes de inscribirse</p>
  			
        <a class="btn btn-primary pl-3" href="#requisitos" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">REQUISITOS</a>
        <a class="btn btn-primary pl-3" href="#requisitos" data-bs-toggle="collapse" data-bs-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample">CUENTAS BANCARIAS</a>
        
        <a class="btn btn-warning text-white" href="#registro">INSCRIPCIÓN</a>
        <!-- <button class="btn btn-warning"  href="#registro">INSCRIPCIÓN</button> -->
        <!-- <a   class="text-reset btn btn-warning pr-3" data-bs-target="#exampleModal">PRE-INSCRIPCIÓN </a> -->
      
<div class="collapse" id="collapseExample">
  <div class="card mt-2 card-body text-black bg-dark">
    <ul>
      <li class="text-uppercase">Foto  reciente - FONDO BLANCO</li>
      <li>COPIA DNI</li>
      <li>RECIBO O VOUCHER DE PAGO POR DERECHO DE INSCRIPCIÓN</li>
      <li>CERTIFICADO DE ESTUDIOS SECUNDARIOS (CONSTANCIA DE MINEDU)</li>
      <li><a href="https://constancia.minedu.gob.pe" target="_blank">MINEDU</a></li>
    </ul>
  </div>
</div>
<div class="collapse" id="collapseExample2">
  <div class="card mt-2 card-body text-black bg-dark">
    <ul>
      <li class="text-uppercase">BANCO DE LA NACIÓN: 04-704-182975</li>
      <li>BCP : 596-98101148-0-46</li>
      <li>SCOTIABANK: 706-0462822</li>
      <hr>  
       <div id="whatsapp-icon" style="position:fixed; left:10px; bottom:10px; text-align:center; padding:3px">
        <a href="https://api.whatsapp.com/send?phone=+34662681XXX">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6b/WhatsApp.svg/240px-WhatsApp.svg.png" width="50" height="50" alt="Watshap">Moquegua</a>
        </div>
    </ul>
  </div>
</div>
  		</div>
  	</div>
  </div>
</header>
